body {
  background-color: #C8C8C8 !important;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  display: grid;
  grid-template-areas:
      "header header"
      "aside main-content"
      "footer footer";
}

#root:has(.sidebar.small) {
  grid-template-columns: minmax(120px, 0);
}

#root:has(.sidebar.large) {
  grid-template-columns: minmax(315px, 0);
}

header {
  grid-area: header;
}

aside {
  grid-area: aside;
}

.main-content {
  grid-area: main-content;
}

.footer {
  position: absolute;
  height: 68px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 300px;
  bottom: 0;
  width: 100%;
  z-index: -1;
  grid-area: footer;
}

.developed-by {
  padding-top: 8px;
}
